* {
  box-sizing: border-box;
}

.table {
  display: flex;
  width: 600px;
  margin: 24px auto;
  flex-direction: column;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 2px;
    width: 100%;
    font-size: 14px;

    span {
      border: 1px grey solid;
      padding: 4px 10px;
      margin: 0;
    }
  }
}

.colTitles span {
  font-size: 12px;
  font-weight: bold;
}

.athleteNumber {
  width: 20%;
}

.athleteTime {
  width: 30%;
}

.athleteName {
  width: 25%;
}
